<!-- Conact Ctrl -->
<div ng-controller="AppCtrl">
  <!-- col -->
  <div class="container">
    <h2 class="page-header text-center">List of contacts</h2>
    <div class="form-group col-md-8">
      <div class="input-group"> 
       <div class="input-group-btn"> 
         <button type="button" class="btn btn-default" aria-label="Help"><span class="glyphicon glyphicon-search"></span></button>  
        </div> 
         <input type="text" id="searchContact" data-ng-model="searchContactAddr"  placeholder="Search for a contact"  class="form-control">
      </div>
      
    </div>
    <div class="form-group col-md-4">
      <a ng-href="#/add" class="btn btn-primary btn-lg pull-right"><i class="fa fa-plus fa-fw m-r-xs"></i> New Contact</a>      
    </div>
    
    <h4 ng-show="contacts.length == 0">There are no contacts here!</h4>
    <div class="col-md-4"ng-repeat="(id, contact) in contacts | filter:searchContactAddr">
      <div class="well well-sm">
        <div class="wrapper-sm b-b">
          <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
            <a class="btn btn-xs btn-default pull-right" href="#/remove/{{id}}"><i class="fa fa-times"></i></a> &nbsp;
            <a class="btn btn-xs btn-default pull-right" href="#/edit/{{id}}"><i class="fa fa-pencil"></i></a>
          </div>
          <div class="media">
            <div class="pull-left">
              <img class="contact-img" ng-src="{{contact.avatar}}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{contact.name}}</h4>
              <dl>
                <dt>Phone Number:</dt>
                <dd class="phone">{{contact.tel}}</dd>
                <dt>Email:</dt>
                <dd class="email">{{contact.email}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /col -->
</div>
<!-- /Contact Ctrl layout -->